html {
  background: grey;
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

.tab-panel {
  width: 100%;
}

.MuiAvatar-root {
  margin: 10px;
}

#login-card-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.MuiPaper-root.MuiCard-root.login-and-registration-card.MuiPaper-elevation1 {
  box-shadow: 0px 0 black;
}

.login-and-registration-actions {
  display: flex;
  justify-content: center;
}

#header-toolbar {
  height: 50px;
  background-color: #3f51b5;
}

.MuiFormControl-root.MuiTextField-root {
  margin-top: 8px !important;
  margin-bottom: 4px !important;
}
.MuiFormControl-root .MuiInputBase-input {
  height: 15px !important;
}

.drawer-root {
  display: flex;
  height: 100%;
}

#drawer {
  width: 400px;
  flex-shrink: 0;
  z-index: 10;
}

.drawer-container {
  overflow: auto;
  width: 400px;
}
.drawer-container .MuiList-root {
  padding: 0px;
}
.drawer-container .MuiList-root .MuiButtonBase-root.MuiListItem-root {
  padding: 0px 10px 0px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.main-content {
  flex-grow: 1;
  display: flex;
  height: calc(100% - 64px);
  margin-top: 64px;
  background-color: white;
  padding: 0px;
}

.inbox-element {
  width: 100%;
  display: flex;
  align-items: center;
}

.-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#chat-container {
  display: flex;
  flex-grow: 1;
}

#chat-profile-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chat-profile-image {
  width: 200px;
  height: 200px;
}

#chat-content {
  position: relative;
  display: flex;
  flex-grow: 1;
  width: 70%;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

#chat-messages {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#chat-bottom {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
#chat-bottom .MuiOutlinedInput-input {
  padding: 10px !important;
  background-color: whitesmoke;
}
#chat-bottom #send-button {
  background-color: #3f51b5;
  color: white;
  margin-left: 20px;
  border-radius: 20px;
}

.message-container {
  background-color: #3f51b5;
  color: white;
  width: fit-content;
  margin: 2px;
  padding: 1px 10px 1px 10px;
  border-radius: 30px 30px 30px 30px;
  min-width: 75px;
  text-align: center;
  align-self: flex-start;
}
.message-container.my-msg {
  align-self: flex-end;
  background-color: #3fb5a3;
}

#friends-page {
  display: flex;
  height: 100%;
}

#friends-content {
  margin-top: 64px;
  display: flex;
  flex-grow: 1;
}

#friends-left-container {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  background-color: white;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#friends-right-container {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  background-color: white;
  width: 35%;
  padding-left: 10px;
}

.friend-container {
  padding: 10px;
  display: flex;
  background-color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.12);
  justify-content: space-between;
  align-items: center;
}

.friend-container-info {
  display: flex;
  align-items: center;
}

.request-container {
  margin: 33px 10px 0px 0px;
  display: flex;
  padding: 10px;
  background-color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.12);
  justify-content: space-between;
  align-items: center;
}

#profile-page {
  display: flex;
  margin-top: 64px;
  flex-grow: 1;
  height: 100%;
  background-color: white;
  align-items: center;
  flex-direction: column;
}

#profile-image {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #3f51b5;
}

#user-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome-page {
  padding-top: 64px;
  height: calc(100% - 64px);
  background-color: white;
  display: flex;
}

.welcome-title {
  font-size: 60px;
  padding: 10px;
  margin: 0px;
  font-weight: bold;
}

#welcome-left-container {
  width: 60%;
  display: flex;
  flex-grow: 1;
  margin-top: 50px;
  align-items: center;
  flex-direction: column;
}

#welcome-right-container {
  width: 40%;
  padding-top: 50px;
  padding-right: 50px;
}

#login-and-registration {
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;
}

.MuiTabs-flexContainer {
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
