#chat-container {
  display: flex;
  flex-grow: 1;
}

#chat-profile-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chat-profile-image {
  width: 200px;
  height: 200px;
}

#chat-content {
  position: relative;
  display: flex;
  flex-grow: 1;
  width: 70%;
  border-right: 1px solid $borderColor;

}

#chat-messages {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  padding:10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#chat-bottom {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;

  .MuiOutlinedInput-input {
    padding: 10px !important;

    background-color: whitesmoke;
  }

  #send-button {
    background-color: $primaryColor;
    color: white;
    margin-left: 20px;
    
    border-radius: 20px;

  }
}